<p-input-group>
    <p-inputgroup-addon>
        <p-colorpicker 
            [(ngModel)]="rgbColor" 
            format="rgb" 
            inputId="cp-rgb"
            (onChange)="onColorPickerChange($event)"
            [disabled]="disabled" />
        </p-inputgroup-addon>
    <p-inputnumber 
        [ngModel]="rgbColor?.r" 
        (ngModelChange)="onColorInputChange('r', $event)"
        [min]="0" 
        [max]="255" 
        [useGrouping]="false" 
        prefix="R: "
        [disabled]="disabled" />
    <p-inputnumber 
        [ngModel]="rgbColor?.g" 
        (ngModelChange)="onColorInputChange('g', $event)"
        [min]="0" 
        [max]="255" 
        [useGrouping]="false" 
        prefix="G: "
        [disabled]="disabled" />
    <p-inputnumber 
        [ngModel]="rgbColor?.b" 
        (ngModelChange)="onColorInputChange('b', $event)"
        [min]="0" 
        [max]="255" 
        [useGrouping]="false" 
        prefix="B: "
        [disabled]="disabled" />
    <p-inputgroup-addon>
        <p-button icon="pi pi-times" severity="secondary" [disabled]="disabled" (onClick)="onClearColor()" />
    </p-inputgroup-addon>
</p-input-group>
