<div class="card">
    <p-dataview #dv [value]="photos" [layout]="layout" sortField="distance" sortOrder="1">
        <ng-template #header>
            <div class="flex justify-end">
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </ng-template>
        <ng-template #list let-items>
            <div class="flex flex-col">
                <div *ngFor="let item of items; let first = first">
                    <div class="flex flex-col">
                        <p-image [src]="item.preview_url" alt="Image" width="500" [preview]="true" />
                        {{ item.score }}
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #grid let-items>
            <div class="grid grid-cols-4 gap-4">
                <div *ngFor="let item of items">
                    <div class="flex flex-col">
                        <p-image [src]="item.preview_url" alt="Image" width="500" [preview]="true" />
                        {{ item.score }}
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>