<form [formGroup]="uploadForm">
    <div class="grid grid-cols-2 gap-x-8 gap-y-6">

        <div class="col-span-2">
            <file-upload formControlName="file" />
        </div>

        <div class="col-span-2">
            <text-input formControlName="title" label="Title" />
        </div>

        <div class="col-span-2">
            <text-area formControlName="description" label="Description" [rows]="4" />
        </div>

        <div class="col-span-2">
            <category-selector formControlName="categoryId" />
        </div>

        <div>
            <date-picker formControlName="captureDate" selectionMode="single" label="Capture Date" />
        </div>

        <div>
            <visibility-selector formControlName="visibility" />
        </div>

        <div>
            <location-selector formControlName="location" />
        </div>

        <div>
            <camera-model-selector formControlName="cameraModel" />
        </div>

    </div>
</form>