<form [formGroup]="uploadForm">
    <div class="grid grid-cols-2 gap-8">

        <div class="col-span-2 row-span-3 row-start-1">
            <file-upload  formControlName="file" />
        </div>

        <div class="col-span-2 row-span-1 row-start-4">
            <text-input formControlName="title" label="Title" />
        </div>

        <div class="col-span-2 row-span-3 row-start-5">
            <text-area formControlName="description" label="Description" [rows]="4" />
        </div>

        <div class="col-start-1 row-start-8">
            <date-picker formControlName="captureDate" selectionMode="single" label="Capture Date" />
        </div>

        <div class="col-start-2 row-start-8">
            <visibility-selector formControlName="visibility" />
        </div>

        <div class="col-start-1 row-start-9">
            <location-selector formControlName="location" />
        </div>

        <div class="col-start-2 row-start-9">
            <camera-model-selector formControlName="cameraModel" />
        </div>

    </div>
</form>