<p-menubar>

    <ng-template #start>
        <div class="flex items-center gap-x-6">
            <span class="text-2xl font-bold">PhotoHub</span>
            <p-button icon="pi pi-home" label="Feed" variant="text" severity="secondary" (onClick)="navigateToFeed()"/>
            <p-button icon="pi pi-camera" label="PhotoSearch" variant="text" severity="secondary" (onClick)="navigateToExplore()"/>
            <p-inputgroup>
                <p-select 
                    [(ngModel)]="selectedCategoryId" 
                    variant="filled" 
                    [filter]="true"
                    [options]="categories" 
                    optionLabel="name" 
                    optionValue="key" 
                />
                <input 
                    pInputText 
                    type="text" 
                    [(ngModel)]="query" 
                    placeholder="Search..." 
                    (keydown.enter)="onSearch()"
                />
                <p-inputgroup-addon>
                    <p-button icon="pi pi-search" severity="secondary" (onClick)="onSearch()" />
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-button icon="pi pi-upload" label="Upload" (onClick)="onUploadClick()"/>
            <p-avatar icon="pi pi-user" size="large" shape="circle" />
        </div>
    </ng-template>

</p-menubar>
