<p-panel header="Extended Search" [toggleable]="true">
    <form [formGroup]="filterForm">
        <div class="grid grid-cols-4 gap-8">

            <div>
                <rgb-color-picker formControlName="rgbColor"/>
            </div>    

            <div>
                <p-input-group>
                    <p-inputgroup-addon>
                        <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on">
                        <p-inputnumber formControlName="minHeight" locale="de-DE" [min]="0" [max]="10000"
                            [showClear]="true" suffix=" px" />
                        <label>Min Height</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <p-inputnumber formControlName="minWidth" locale="de-DE" [min]="0" [max]="10000"
                            [showClear]="true" suffix=" px" />
                        <label>Min Width</label>
                    </p-floatlabel>
                </p-input-group>
            </div>

            <div>
                <p-input-group>
                    <p-inputgroup-addon>
                        <i class="pi pi-objects-column"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on">
                        <p-select [options]="orientations" formControlName="orientation" [showClear]="true" optionValue="key" optionLabel="name" />
                        <label>Orientation</label>
                    </p-floatlabel>
                </p-input-group>
            </div>

            <div>
                <p-input-group>
                    <p-inputgroup-addon>
                        <i class="pi pi-file"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on">
                        <p-select [options]="fileFormats" formControlName="fileFormat" [showClear]="true" optionValue="key" optionLabel="name" />
                        <label>File Format</label>
                    </p-floatlabel>
                </p-input-group>
            </div>

            <location-selector formControlName="location" />

            <camera-model-selector formControlName="cameraModel" />

            <date-picker formControlName="uploadDateRange" selectionMode="range" label="Upload Date" />

            <date-picker formControlName="captureDateRange" selectionMode="range" label="Capture Date" />

        </div>
    </form>
</p-panel>