<div>
    <p-input-group>
        <p-inputgroup-addon>
            <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
            <p-datepicker
                [(ngModel)]="selectedDate"
                [showClear]="true"
                [showButtonBar]="true"
                [disabled]="disabled"
                appendTo="body"
                [selectionMode] = "selectionMode()"
                (ngModelChange)="onDateChange()"
            />
            <label>{{ label() }}</label>
        </p-floatlabel>
    </p-input-group>
</div>