<div>
    <p-input-group>
        <p-inputgroup-addon>
            <i class="pi pi-camera"></i>
        </p-inputgroup-addon>
        <p-floatlabel>
            <p-select 
                [options]="cameraModels"
                [(ngModel)]="selectedCameraModel"
                [showClear]="true"
                [filter]="true"
                [disabled]="disabled"
                appendTo="body"
                optionValue="key"
                optionLabel="name"
                (onChange)="onCameraModelChange($event)"
            />
            <label>Camera Model</label>
        </p-floatlabel>
    </p-input-group>
</div>